<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/012Java8Basics/src/com/java8/lambda/expressions/Java8LambdaForEach.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.java8.lambda.expressions.Java8LambdaForEach"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="012Java8Basics"/>
</launchConfiguration>
